/* body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}
.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}
h1, p {
    color: #333;
}

body {
    background-color: #121212;
    color: #e0e0e0; 
    font-family: 'Roboto', sans-serif; 
  }
  .section {
    margin: 20px auto;
    padding: 20px;
    max-width: 800px;
    text-align: center;
  }*/
  #particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 3;
  }

  /*
  
  a, button {
    color: #00e7ff;
    text-shadow: 0px 0px 5px #00e7ff;
    transition: 0.3s ease;
  }
  
  a:hover, button:hover {
    color: #ff00f4;
    text-shadow: 0px 0px 10px #ff00f4;
  }
  
  .card {
    background: linear-gradient(145deg, #1e1e1e, #2a2a2a);
    border: 1px solid #333;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5), 0 0 10px rgba(0, 0, 0, 0.5);
  }

  .glow {
    color: #00e7ff;
    text-shadow: 0 0 10px #00e7ff, 0 0 20px #00e7ff, 0 0 30px #00e7ff;
  }
  
  .glow:hover {
    animation: pulse 1.5s infinite;
  }
  
  @keyframes pulse {
    0%, 100% {
      text-shadow: 0 0 10px #00e7ff, 0 0 20px #00e7ff, 0 0 30px #00e7ff;
    }
    50% {
      text-shadow: 0 0 20px #00e7ff, 0 0 40px #00e7ff, 0 0 60px #00e7ff;
    }
  }
   */

  /* styles.css */
/*  */